<?xml version="1.0"?>
<!--
/**
 * Oscprofessionals_AutocompleteFinder Module Registration
 *
 * @category    AutocompleteFinder
 * @package     AutocompleteFinder
 * @author      Oscprofessionals.com
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
  <module name="MMY_AutocompleteFinder">
    <sequence>
      <module name="Magento_Search" />
      <module name="Amasty_Finder" />
    </sequence>
  </module>
</config>